version: '3.7'

services:
  app:
    image: whatwewant/go-module-remote-import-paths:v0.0.2
    platform: linux/amd64
    # build:
    #   context: .
    ports:
      - 0.0.0.0:8080:8080
    # command: sleep infinity
    environment:
      SOURCE: http://10.0.0.1:8888
      TARGET: http://gitlab.example.com
